name: Push Image to ACR
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: azure/docker-login@v1
      with:
        login-server: employmgmt.azurecr.io
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - run: |
        docker build . -t employmgmt.azurecr.io/employee:${{ github.sha }}
        docker push employmgmt.azurecr.io/employee:${{ github.sha }} 
    - uses: azure/webapps-deploy@v2
      with:
        app-name: 'employee148165'
        publish-profile: ${{ secrets.azureWebAppPublishProfile }}
        images: 'employmgmt.azurecr.io/employee:${{ github.sha }}'
